@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700|Raleway:400,700,900');

$primary_color : #10202C;
$secondary_color : #d0d233;

body {
  font-family: 'Overpass Mono', monospace;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url('../img/background.jpg');
  background-size: cover;
  color: #fff;
  font-family: 'Overpass Mono', monospace;
  transition-duration: .5s;
  transition-property: transform;
  will-change: transform;
  .header {
    width: 100%;
    height: 65px;
    background-color: rgba(#12202e,.50);
    position: relative;
    z-index: 2;
    &--logo {
      background-color: $secondary_color;
      height: 45px;
      margin-top: 10px;
      margin-left: 50px;
      display: inline-block;
      float: left;
      &--img {
        height: 100%;
      }
    }
    &--search {
      margin-top: 20px;
      float: right;
      margin-right: 50px;
      &--input {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        padding: 10px 0px 17px 0px;
        width: 120px;
        display: inline-block;
        border-bottom: 1px solid $secondary_color;
      }
      &--btn {
        cursor: pointer;
        position: relative;
        top: 5px;
        margin-right: 5px;
        color: $secondary_color;
      }
    }
    &--twitter {
      height: 30px;
      margin-top: 25px;
      margin-right: 50px;
      margin-left: 50px;
      float: right;
    }
  }
  .timeline {
    transition-duration: .5s;
    transition-property: transform;
    height: 100%;
    .item {
      text-align: left;
      display: inline-block;
      height: 100%;
      position: relative;
      transition-duration: .3s;
      will-change: transform;
      transition-property: transform;
      &--container {
        position: relative;
        float: left;
        text-align: center;
        height: 100%;
      }
      &--img {
        margin-top: 100px;
        height: 280px;
        width: 350px;
        margin-bottom: -80px;
      }
      &--content {
        margin-left: 60px;
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: rgba($primary_color,.9);
        width: 350px;
        height: 280px;
        position: relative;
        &--title {
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          font-size: 24px;
          text-transform: uppercase;
        }
        &--date {
          margin-top: 20px;
          display: block;
          font-size: 12px;
          color: $secondary_color;
        }
        &--txt {
          margin-top: 20px;
          font-size: 10px;
          line-height: 15px;
        }
        &--btn {
          position: absolute;
          bottom: 40px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          font-size: 10px;
          text-transform: uppercase;
          line-height: 35px;
          text-align: center;
          display: block;
          width: 200px;
          height: 35px;
          border: 1px solid $secondary_color;
          z-index: 2;
          &--icon {
            position: absolute;
            left: 20px;
            top: 14px;
          }
          &::after {
            top: 0;
            left: 0;
            background-color: $secondary_color;
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            transform-origin: left;
            transform: scaleX(0);
            transition-duration: .3s;
            transition-property: transform;
            transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
          }
          &:hover::after {
            transform: scaleX(1);
          }
        }
      }
      &--line {
        width: 1px;
        background-color: #374857;
        position: absolute;
        top: 50%;
        z-index: -1;
        left: 50%;
        bottom: 165px;
        transition-duration: .3s;
        transition-property: transform;
        &::after {
          content: '';
          display: inline-block;
          height: 11px;
          width: 11px;
          background-color: #fff;
          position: absolute;
          border-radius: 50%;
          right: -5px;
          bottom: -5px;
        }
        &::before {
          content: '';
          display: inline-block;
          height: 11px;
          width: 11px;
          border: 1px solid $secondary_color;
          position: absolute;
          border-radius: 50%;
          right: -5px;
          bottom: -6px;
          transform: scale(0.5);
        }
      }
    }
    .item--active {
      .item {
        transform: translateY(-60px);
      }
      .item--line {
        transform: translateY(60px);
      }
      .item--line::after {
        transform: scale(0.5);
        background-color: $secondary_color;
      }
      .item--line::before {
        transform: scale(1.7);
      }
      .item--month {
        color: $secondary_color;
      }
    }
    .item--month {
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      bottom: 110px;
      position: absolute;
      height: 30px;
      left: 50%;
      width: 100px;
      transform: translateX(-50%);
    }
  }
  .line {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 100px;
    background-color: #374857;
    z-index: -2;
  }
  .shadow {
    top: 0;
    width: 100px;
    bottom: 0;
    position: absolute;
    z-index: 1;
    &--left {
      left: -100px;
      box-shadow: 0px 0px 150px 100px rgba(#12202B,1);
    }
    &--right {
      right: -100px;
      box-shadow: 0px 0px 150px 100px rgba(#070e16,1);
    }
  }
  .previous, .next {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    font-size: 12px;
    font-weight: bold;
    &::after {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      top: 15px;
      background-color: #fff;
      transform: scaleX(.5);
      transition-duration: .3s;
      transition-property: transform;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
  .previous {
    left: 50px;
    &::after {
      transform-origin: right;
      right: 0;
    }
  }
  .next {
    right: 50px;
    &::after {
      transform-origin: left;
      left: 0;
    }
  }
  .current--mission {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    &::after {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      top: 15px;
      background-color: #fff;
      transform: scaleX(.5);
      transition-duration: .3s;
      transition-property: transform;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.popin {
  transition-duration: .5s;
  transition-property: transform;
  will-change: transform;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #0D151E;
  transform: translateY(100%);
  display: flex;
  color: #fefefe;
  &--close {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid #374857;
    color: #374857;
    display: inline-block;
    transition-duration: .3s;
    transition-property: color, background;
    &:hover {
      color: $primary_color;
      background-color: #374857;
    }
  }
  &--info {
    padding-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
    width: 40%;
    &--header {
      padding: 15px 20px 15px 20px;
      background-color: $secondary_color;
      position: relative;
      margin-right: 150px;
      &--title {
        color: #000;
        font-family: 'Raleway', sans-serif;
        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;
      }
      &--picture {
        height: 160px;
        width: 210px;
        position: absolute;
        background-color: $secondary_color;
        z-index: -1;
        top: 20px;
        right: -150px;
        > img {
          top: 0;
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          opacity: .5;
        }
      }
      &--date {
        bottom: -50px;
        left: 0;
        position: absolute;
        color: $secondary_color;
        font-size: 18px;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 8px;
          left: -30px;
          height: 2px;
          width: 15px;
          background-color: $secondary_color;
        }
      }
    }
    &--content {
      position: relative;
      margin-top: 150px;
      &--label {
        margin-bottom: 40px;
        display: block;
        font-size: 18px;
        border-bottom: 1px solid #384958;
        width: 100%;
        padding-bottom: 20px;
        &--txt {
          font-size: 24px;
          float: right;
          color: $secondary_color;
          text-transform: uppercase;
        }
      }
      &--title {
        font-size: 18px;
      }
      &--txt {
        margin-top: 30px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  &--social {
    padding-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
    width: 40%;
    &--title {
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      &:nth-child(1)::before {
        background-image: url('../img/twitter.png');
      }
      &:nth-child(3)::before {
        height: 10px;
        width: 10px;
        top: 7px;
        border-radius: 50%;
        right: -30px;
        background-color: #ed1c24;
      }
      &::before {
        content: '';
        height: 15px;
        width: 20px;
        position: absolute;
        right: -40px;
        top: 3px;
        display: inline-block;
        background-size: cover;
      }
      &::after {
        content: '';
        display: block;
        height: 3px;
        width: 40px;
        margin-top: 10px;
        background-color: $secondary_color;
      }
    }
    .tweeter {
      height: 250px;
      width: 100%;
      margin-top: 30px;
      background-color: #182B3A;
      margin-bottom: 50px;
    }
    .live {
      height: 250px;
      width: 100%;
      margin-top: 30px;
      background-color: #000;
      margin-bottom: 50px;
    }
  }
}
